doctype html
html
  head
    title node-sass-pug
    link(rel='stylesheet' type='text/css' href='main.css')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Titillium+Web&display=swap")

    meta(charset='utf-8')
    title Clément RAMOS LAGE
  body
    header
      nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link.active(href="#") Acceuil
          li.nav__item
            a.nav__link(href="#") A propos
          li.nav__item
            a.nav__link(href="#") Portfolio
          li.nav__item
            a.nav__link(href="#") Contact

    section#hero
      .overlay
      .hero__content
        .img__wrap
          img(src="assets/img/profile.jpg")
        
        .name__container
          h1 CLÉMENT 
            span RAMOS
        
        .description__container
          p Je suis un 
            strong#animatedText
              span développeur







    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br