doctype html
html
  head
    title Clément RAMOS LAGE
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type='text/css' href='assets/css/main.css')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Titillium+Web&display=swap")

    meta(charset='utf-8')
    title Clément RAMOS LAGE
  body
    header
      nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link.active(href="#hero") Acceuil
          li.nav__item
            a.nav__link(href="#about") A propos
          li.nav__item
            a.nav__link(href="#skills") Compétences
          li.nav__item
            a.nav__link(href="#portfolio") Portfolio
          li.nav__item
            a.nav__link(href="#contact") Contact

    a#topBtn
      i.fas.fa-angle-up

    section(data-spy).section#hero
      .overlay
      .hero__content
        .img__wrap
          img(src="assets/img/profile.jpg")
        
        .name__container
          h1 CLÉMENT 
            span RAMOS LAGE
        
        .description__container
          p#animatedText

      .arrow-scroll-down
        i.fas.fa-angle-double-down

    section(data-spy).section#about
      .category__container
        .category__title
          h2 A Propos
          p Principalles informations à propos de moi
        
      .about__definition
        .about__wrap
          p 
            | Hey, je m'appelle 
            strong Clément RAMOS LAGE
            | . Je suis actuellement en 2ème année de Bachelor Informatique à Ingésup Paris. Durant cette formation, j'ai pu découvrir les principaux aspects de l'informatique et les développer pour acquérir de nouvelles compétences. De la conception à la réalisation j'ai pu mettre en pratique un bon nombres de compétences. Je suis actuellement à la recherche d'un stage pour valider mon année.

        .information__wrap
          ul
            li
              label Ville: 
              | Paris
            li
              label Intérêts: 
              | Crossfit, Music
            li
              label GitHub: 
              | 
              a(href="https://github.com/MENT3", target="_blank") MENT3
            li
              label Etude: 
              | Ynov Ingésup Paris
            li
              label Site Web: 
              | 
              a(href="http://clement-rms.fr", target="_blank") Clement-ramos.fr
            li
              label Email:
              | 
              a(href="mailto:clement.ramoslage@ynov.com") Clement.ramoslage@ynov.com

        .button__wrap
          ul
            li
              a.button__link(href="#")
                span Télécharger le CV
            li
              a.button__link(href="#contact")
                span Me contacter

    section(data-spy)#skills
      .skill__container
        .skill__left
          h3 Compétences principales
          p Le développement de mes difféntes compétence est en constente évolution car je ne cesse d'apprendre. Que se soit par mes propres moyens où dans le cadre de mes études j'adore me documenter.
        
        .skill__right
          .skill__item
            span.skill__progression__value 90%
            h5
              strong Web 
              | (PHP - HTML - CSS - JavaScript)
          
            .skill__bar
              .skill__bar--value(style="width: 90%")

          .skill__item
            span.skill__progression__value 80%
            h5
              strong Algorithmique 
              | (C - Python - JavaScript - Java)
          
            .skill__bar
              .skill__bar--value(style="width: 80%")
              
          .skill__item
            span.skill__progression__value 70%
            h5
              strong Infra 
              | (Linux - Windows Server - CCNA)
          
            .skill__bar
              .skill__bar--value(style="width: 70%")
          .skill__item
            span.skill__progression__value 90%
            h5
              strong OS 
              | (Linux - MacOs - Windows)
          
            .skill__bar
              .skill__bar--value(style="width: 90%")

    section(data-spy).section#portfolio
      .category__container
        .category__title
          h2 Portfolio
          p Principaux projets réalisé

      .portfolio__container
        .portfolio__item
          a(href="https://crossfit-lafontaine.com" target="_blank")
            .portfolio__content
              .portfolio__icon
                i.fas.fa-dumbbell(aria-hidden="true")
              .portfolio__title
                h2 Crossfit La Fontaine
              .portfolio__description
                p Dans le cadre d'un stage, de validation de fin d'année, à Crossfit La Fontaine j'ai réalisé une refonte total de leurs site internet.
                            
        .portfolio__item
          a(href="https://crossfit-lafontaine.com" target="_blank")
            .portfolio__content
              .portfolio__icon
                i.fas.fa-running(aria-hidden="true")
              .portfolio__title
                h2 Sport With You
              .portfolio__description
                p Dans le cadre d'un projet scolaire sur 3 semaines (YDAYS), j'ai développé pour la première fois une application mobile.
                            
                            
        .portfolio__item
          a(href="https://crossfit-lafontaine.com" target="_blank")
            .portfolio__content
              .portfolio__icon
                i.fab.fa-pagelines(aria-hidden="true")
              .portfolio__title
                h2 Connected Flower
              .portfolio__description
                p Dans le cadre d'un projet scolaire pour valider ma première année, nous avons conçu une application de plante connectée.

    section(data-spy).section#contact
      .contact__container                 
        .category__container
          .category__title
            h2 Contact
            p Je ne mords pas

        .contact__form__container
          form(action="email", method="post")#contact__form
            input(type="text", name="name", placeholder="Nom", required)
            input(type="email", name="email", placeholder="Email", required)
            textarea(name="name", cols="30", rows="10", placeholder="Message", required)
            button(type="submit").button 
              span Envoyer

    footer
      p © 2019 RAMOS LAGE Clément | Tous droits réservés.


    script(src="assets/js/jQuery.js")
    script(src="https://kit.fontawesome.com/c74f583355.js")
    script(src="https://cdn.jsdelivr.net/npm/typeit@7.x.x/dist/typeit.min.js")
    script(src="assets/js/main.js")