.category__title
    text-transform: uppercase
    letter-spacing: 0.5px
    font-family: 'Montserrat', sans-serif
    width: 85%
    margin: 90px auto 50px auto
    position: relative

    @media screen and ( max-width: $md )
        margin: 80px auto 40px auto

    h2
        color: $dark
        font-size: 50px
        padding-left: 25px
        margin: 0

        @media (max-width: $sm)
            font-size: 2.5em
    
    p
        color: $dark
        font-size: 18px
        padding-left: 25px
        margin: 0

        @media screen and ( max-width: $sm )
            display: none

    &::before
        content: ""
        position: absolute
        top: 4px
        width: 6px
        height: 100%
        background: $secondary

        @media screen and ( max-width: $sm )
            top: 0

#topBtn
    display: inline-block
    background-color: $secondary
    width: 40px
    height: 40px
    text-align: center
    border-radius: 4px
    position: fixed
    bottom: 20px
    right: 20px
    transition: background-color .3s, 
    opacity .5s, visibility .5s
    opacity: 0
    visibility: hidden
    z-index: 1000

    &.show
        opacity: 1 !important
        visibility: visible !important

    i
        font-family: FontAwesome
        font-weight: normal
        font-style: normal
        font-size: 1.5em
        line-height: 40px
        color: #fff

    &:hover
        cursor: pointer
        background-color: $dark
